<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

<Caveworld_Flora_Unleashed_Spawnrate_Label>Mushroom spawn rate</Caveworld_Flora_Unleashed_Spawnrate_Label>
<Caveworld_Flora_Unleashed_Spawnrate_Desc>Controls global spawn rate of the fungi from CFU. Turn down for slower wild mushroom spawning.</Caveworld_Flora_Unleashed_Spawnrate_Desc>

</LanguageData>